body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

h1 {
    text-align: center;
    color: #2e8bc0;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #EEAEDF, #94ADE9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}
.subject-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom:20px;
}

.subject-table td {
    border: 1px solid #d0d0d0;
    padding: 10px;
}

.gradient-header {
    background: linear-gradient(to right, #CF9EF0, #F08D8D, #E8BC7D);
}

.gradient-header th {
    background-color: transparent;
    color: white;
    padding: 12px 16px;
    text-align: left;
}

.main {
    padding: 20px;
    margin-top: 70px;
}

.navbar {
  overflow: visible;
  background-image: linear-gradient(to right, #EEAEDF, #94ADE9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: visible;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  margin-top: 2px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.25);
}

.dropdown-content a.active {
  background-color: rgba(0, 0, 0, 0.1);
}