body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

h1 {
    color: #EEAEDF;
    text-align:center;
}

p {
    text-align:center;
}

h3 {
    color: #94ADE9;
    font-size:150%;
    text-align:center;
}

.profile-tables {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    color:black;
    justify-content: center;
}

.profile-card {
    background-color: #ffffff;
    border: 2px solid #dbe9f4;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.profile-card img {
    border-radius: 50%;
    margin-right: 10px;
}

.profile-card td {
    vertical-align: top;
    padding: 5px 0;
}

.profile-card th {
    background-color: #2e8bc0;
    color: white;
    padding: 10px;
    border-radius: 6px 6px 0 0;
}

.side-by-side {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-bottom:40px;
    color:black;
    justify-content: center;
}

.subject-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom:20px;
}

.subject-table td {
    border: 1px solid #d0d0d0;
    padding: 10px;
}

.gradient-header {
    background: linear-gradient(to right, #CF9EF0, #F08D8D, #E8BC7D);
}

.gradient-header th {
    background-color: transparent;
    color: white;
    padding: 12px 16px;
    text-align: left;
}

.main {
    padding: 20px;
    margin-top: 70px;
}

.navbar {
  overflow: visible;
  background-image: linear-gradient(to right, #EEAEDF, #94ADE9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: visible;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  margin-top: 2px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.25);
}

.dropdown-content a.active {
  background-color: rgba(0, 0, 0, 0.1);
}