body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

h1 {
    text-align: left;
    color: #2e8bc0;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #EEAEDF, #94ADE9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    text-align: left;
    margin-bottom: 30px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

th {
    background-color: #2e8bc0;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #CF9EF0, #F08D8D, #E8BC7D);
}

.jam {
    background-color: rgba(240,141,141,0.25);
    color: black;
}

td {
    background-color: #fefefe;
}

table thead th[colspan] {
    background-color: #145DA0;
    font-size: 16px;
    padding: 14px;
    background-image:linear-gradient(to right, #CF9EF0, #F08D8D, #E8BC7D)
}

.main{
    margin-left:240px;
    padding:20px;
}
.sidenav {
    height: 100vh;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #EEAEDF, #94ADE9);
    padding-top: 30px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidenav h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.sidenav a {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.sidenav a:hover {
    background-color:rgba(0, 0, 0, 0.25);
}
